<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />

		<title>The Sport Catalog - A collection of my favorite sport stuff</title>
		<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">

		<!-- Optional theme 
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.css') }}"> -->

	</head>
	<body>

			{% block content %}
			{% endblock %}

	</body>
</html>